# youcompleteme
.ycm_extra_conf.py
.ycm_extra_conf.pyc

# doxygen
html/
latex/
doxygen/DoxygenLayout.xml
doxygen/customdoxygen.css

# objects, targets, etc
*.o
*.so
*.la
*.a
/drow-engine
/main
/test

# junk
core
.cproject#
vgcore*
*.plist
tags
*.orig
*.new
jedi_remote_1_*
*.png
*.7z
